.gridPane {
    -fx-background-image:url('../img/background.jpg');
}

.creationClasse {
    visibility: false;
}

.basDroite {
    -fx-background-color: red;
}

.basMilieu {
    -fx-background-color: blue;
}

.basGauche {
    -fx-background-color: green;
    -fx-text-alignment: center;
}

.milieuDroite {
    -fx-background-color: yellow;
}

.milieuMilieu {
    -fx-background-image:url('../img/background-fight.jpg');
    -fx-background-size: cover;
}

.milieuGauche {
    -fx-background-color: brown;
}

.hautDroite {
    -fx-background-color: purple;
}

.hautMilieu {
    -fx-background-color: black;
}

.hautGauche {
    -fx-background-color: cyan;
}

.labelWrite {
    -fx-text-fill: white;
    -fx-font-size: 16pt;
}