# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Freddy\Desktop\Programmation Orientée Objet\LegendOfTheSecretUltimateClickerVIPEditionDeluxe4.2Free\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
